{% extends 'base.html' %}

{% block 'titulo' %}Editar usuário {% endblock %}

{% block 'conteudo' %}

    <br>
    <br>
    
    <br>
    <div class="container">
        {% if status == '0' %}
            <div class="alert alert-success" role="alert">
                Alteração realizada com sucesso.
            </div>
        {% endif %}
        {% if status == '4' %}
            <div class="alert alert-danger" role="alert">
                Erro interno do sistema
            </div>
        {% endif %}
        {% if status == '5' %}
            <div class="alert alert-danger" role="alert">
                CPF inválido
            </div>
        {% endif %}
        {% if status == '6' %}
            <div class="alert alert-danger" role="alert">
                Email inválido
            </div>
        {% endif %}
        {% if status == '7' %}
            <div class="alert alert-danger" role="alert">
                Já existe usuário cadastrado com esse CPF
            </div>
        {% endif %}
        {% if status == '8' %}
            <div class="alert alert-danger" role="alert">
                Já existe usuário cadastrado com esse email.
            </div>
        {% endif %}
        {% if status == '9' %}
            <div class="alert alert-danger" role="alert">
                Instrutor já vinculado a outro usuário.
            </div>
        {% endif %}
        <h3>Editar usuário</h3>
        <div class ="row">
            <div class ="col-md-3">
            
            </div>
                <div class ="col-md-6">
                    <form action="{% url 'valida_edicao_usuario_qualquer' usuario.id %}" method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}

                        <input type="hidden" value="{{usuario.id}}" name="usuario_id">
                        <label>Nome</label>
                        <input name ="nome" class="form-control" type="text" value="{{usuario.nome}}"></label><br>
                        <label>CPF</label>
                        <input name ="cpf" class="form-control" type="text" value="{{usuario.cpf}}"></label><br>
                        <label>Email</label>
                        <input name ="email" class="form-control" type="email" value="{{usuario.email}}"></label><br>
                        <label>Telefone</label>
                        <input name ="telefone" class="form-control" type="text" value="{{usuario.telefone}}"></label><br>
                        <label>Senha (Deve conter no mínimo 8 caracteres)</label>
                        <input name ="senha" class="form-control" type="password" value="{{usuario.senha}}"></label><br>
                        
                        {% if usuario.ativado == True %}
                            <label>Situação</label>
                            <div class="form-check">
                                <input name = "ativado" class="form-check-input" type="radio" value= "True" name="flexRadioDefault" id="flexRadioDefault1" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                Ativo
                                </label>
                            </div>
                            <div class="form-check">
                                <input name = "ativado" class="form-check-input" type="radio" value = "False" name="flexRadioDefault" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                Inativo
                                </label>
                            </div>
                        {% else %}
                            <label>Situação</label>
                            <div class="form-check">
                                <input name = "ativado" class="form-check-input" type="radio" value= "False" name="flexRadioDefault" id="flexRadioDefault1" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                Ativo
                                </label>
                            </div>
                            <div class="form-check">
                                <input name = "ativado" class="form-check-input" type="radio" value = "True" name="flexRadioDefault" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                Inativo
                                </label>
                            </div>
                        {% endif %}
                            <br>

                        
                        
                        <!-- Campo hidden para representar o valor "False" -->
                        {% if usuario.administrador == True %}
                            <input type="hidden" name="administrador" value="False">

                            
                            <div class="form-check">
                                <input name = "administrador" class="form-check-input" type="checkbox" value= "True" name="flexRadioDefault" id="flexRadioDefault1" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                Administrador
                                </label>
                            </div>
                            <br>
                        {% else %}
                            <input type="hidden" name="administrador" value="False">
                            <div class="form-check">
                                <input name = "administrador" class="form-check-input" type="checkbox" value= "True" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                Administrador
                                </label>
                            </div>
                        {% endif %}
                        <br>
                        
                        <label for="instrutor">Instrutor:</label>
                        <select name="instrutor" id="instrutor" class="form-control">
                            <option value="{{ usuario.instrutor.id }}" selected>{{ usuario.instrutor.nome }}</option>
                            {% for instrutor in instrutores %}
                                {% if instrutor.id != usuario.instrutor.id %}
                                    <option value="{{ instrutor.id }}">{{ instrutor.nome }}</option>
                                {% endif %}

                            {% endfor %}
                        </select>
                        <br>
                        
                        <input type="submit" class="btn btn-success" value="Gravar">
                        <a href="/usuario/lista/" button type="button" class="btn btn-warning">Sair</button></a>

        
                    </form>

                    <br>
                </div>
            
            </div>
            
        </div>
    </div>
    <br>


{% endblock %}